<div class="menu-drawer active">
  <div class="menu-drawer__content">
    <ul>
      {%- if shop.customer_accounts_enabled -%}
        <li class="menu-drawer__account-link">
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <span>{{ 'customer.account_fallback' | t }}</span>
          </a>
        </li>
      {%- endif -%}

      {% for link in menu.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu-drawer__close" onclick="closeDrawer()">
    <span>&times;</span>
  </div>
</div>
