<link rel="stylesheet" href="{{ 'section-ingredient-library-letter.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-ingredient-library-letter.css' | asset_url | stylesheet_tag }}</noscript>

<div class="ingredient-library-letter" id="{{ section.settings.letter }}">
  <h3>{{ section.settings.letter }}</h3>
  <ul>
    {% for block in section.blocks %}
      <li>
        <h4>{{ block.settings.ingredient_name }}</h4>
        <p>{{ block.settings.ingredient_description }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Ingredient Library Letter",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "letter",
      "label": "Letter",
      "info": "Alphabetically list ingredients so the navigation can link to specific letter."
    }
  ],
  "blocks": [
    {
      "type": "ingredient",
      "name": "ingredient",
      "settings": [
        {
          "type": "text",
          "id": "ingredient_name",
          "label": "Ingredient Name"
        },
        {
          "type": "text",
          "id": "ingredient_description",
          "label": "Ingredient Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ingredient Library Letter"
    }
  ]
}
{% endschema %}
