<link rel="stylesheet" href="{{ 'section-ingredient-filter.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-ingredient-filter.css' | asset_url | stylesheet_tag }}</noscript>

{% assign letters = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z' | split: ',' %}

<div id="ingredient-filter--{{ section.id }}" class="ingredient-filter">
  <ul>
    {% for letter in letters %}
      {% unless section.settings.exclude_letters contains letter %}
        <li>
          <button class="global__button" onclick="scrollToIngredient('#{{ letter }}')">
            {{ letter | upcase }}
          </button>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<style>
#ingredient-filter--{{ section.id }} {
  background-color: {{ section.settings.bg_color }}
}

.ingredient-filter-sticky {
  position: sticky;
  top: 0;
  left: 0;
}
</style>

<script>
  function scrollToIngredient(anchor) {
    document.querySelector(anchor).scrollIntoView({
      behavior: 'smooth'
    })
  }
</script>

{% schema %}
{
  "name": "Ingredient Filter",
  "tag": "section",
  "class": "ingredient-filter-sticky",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "exclude_letters",
      "label": "Letters to exclude from filter tree"
    }
  ],
  "presets": [
    {
      "name": "Ingredient Filter"
    }
  ]
}
{% endschema %}
