{% liquid 
  assign remainder = section.blocks.size | modulo: 2

  if remainder == 1
    assign half = section.blocks.size | plus: 1 | divided_by: 2
  else
    assign half = section.blocks.size | divide_by: 2
  endif
%}

{{ half }}

<link rel="stylesheet" href="{{ 'section-product-faqs.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-product-faqs.css' | asset_url | stylesheet_tag }}</noscript>

<div id="product-faqs--{{ section.id }}" class="product-faqs">
  <h3 class="h3">{{ section.settings.heading }}</h3>
  {% for i in (1..last) %}
    {{ i }}
  {% endfor %}
  <ul>
    {% for block in section.blocks %}
      <li class="faq-item">
        <button class="faq-accordion-toggle" onclick="productFaqToggle(this)">
          {{ block.settings.question }}
        </button>
        <div class="faq-accordion-content" aria-expanded="false">
          {{ block.settings.answer }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
#product-faqs--{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
}
#product-faqs--{{ section.id }} .faq-item.active .faq-accordion-toggle {
  background-color: {{ section.settings.faq_bg_color }}
}
</style>

{% schema %}
{
  "name": "Product FAQs",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "faq_bg_color",
      "label": "FAQ Item Active Background Color"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "text",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQs"
    }
  ]
}
{% endschema %}
