<link rel="stylesheet" href="{{ 'section-testimonials.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}</noscript>

<div id="testimonials--{{ section.id }}" class="testimonials splide"> 
  <div class="splide__track">
    <ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide testimonial">
          {% assign lightbox_src = block.settings.testimonial_image | img_url %}
          {% assign type = 'image' %}
          {% if block.settings.testimonial_video != blank %}
            {% assign lightbox_src = block.settings.testimonial_video %}
            {% assign type = 'video' %}
          {% endif %}
          <img onclick="openLightbox('{{ lightbox_src }}', '{{ type }}')" src="{{ block.settings.testimonial_img | img_url: 'original' }}">
          <button class="global__button">
            <a href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}</a>
          </button>
          <p>{{ block.settings.testimonial_text }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="testimonial-lightbox" style="display: none;">
  <span class="testimonial-lightbox--close" onclick="closeLightbox()">&times;</span>
  <div class="testimonial-lightbox-content"></div>
</div>

<style>
#testimonials--{{ section.id }} {
  background-color: {{ section.settings.bg_color }};
}
</style>

<script>
  function openLightbox(src, type) {
    const lightbox = document.querySelector('.testimonial-lightbox')
    let el;

    if(type === 'image') {
      el = document.createElement('img')
    } else {
      el = document.createElement('video')
    }

    el.src = src
    lightbox.appendChild(el)
    lightbox.style.display = 'flex'
  }
</script>

<script>
  new Splide('#testimonials--{{ section.id }}', {
    type: "loop",
    perPage: 3,
    arrows: true,
    pagination: true,
    breakpoints: {
      767: {
        perPage: 1
      },
      1000: {
        perPage: 2
      }
    }
  }).mount();
</script>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_img",
          "label": "Testimonial Image"
        },
        {
          "type": "text",
          "id": "testimonial_video",
          "label": "Testimonial Video",
          "info": "Upload to Files and paste the link here, video will play in popup lightbox."
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "richtext",
          "id": "testimonial_text",
          "label": "Testimonial Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
